.App {
  text-align: center;
}

.App-logo {
  text-align: center;
  color: black;
  width: 9em;
  padding-left: 0.5em;
}

.data-grid {
  padding-top: 100px;
}

.footer-grid {
  width: 80px;
}

.baseBackground{
  background-color: rgba(26,26,26,.75) !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
  color: white;
}

.section-dark-blue {
  background-color: #0F3A51;
}

.App-link {
  color: #61dafb;
}

.counter-css {
  text-align: center;
  color: cadetblue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
